iframe {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 3500px;
  margin: 0;
  padding: 0;
  border: 0 none;
}
iframe.safari {
  overflow: hidden;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body.safari {
  overflow-x: hidden;
  overflow-y: scroll;
}
